    div#create-dialog
        div#dialog-label Create a new reposiroy
        div#dialog-label
            Type:
            <select id="repotype" name="repotype">
                <option>Package</option>
                <option>Component</option>
            </select>
        div#dialog-label
            Path: <input type="text" id="reponame" name="reponame" size="36">
