      div.create-dialog
        div.dialog-label Create a new reposiroy
        div.dialog-label Type:
          select#repotype
            repotype = [ 'Package', 'Component' ]
            option(selected=Package) Package
            option Component
        div.dialog-label Path:
          input#reponame(type='text',size=36,name='reponame')
