body {
  padding: 5px 20px;
/* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif */
  font: 14px Georgia, serif;
}
a {
  color: #333;
}
table {
  width: 1000px;
  border-collapse: collapse;
}
td,
th {
  padding: 4px;
  border: 1px solid #ccc;
}
tr.headline {
  background-color: #ddd;
  outline: 1;
  border: 1;
}
tr.fixline {
  background-color: #eee;
  outline: 1;
  border: 1;
}
tr {
  background-color: #f2f2f2;
  outline: 0;
  border: 0;
}
td.fieldname {
  width: 100px;
  text-align: left;
  background-color: #ddd;
}
td.filetype {
  width: 50px;
  text-align: center;
}
td.filename {
  text-align: left;
}
td.lastmod {
  width: 150px;
  text-align: right;
}
td.filesize {
  width: 150px;
  text-align: right;
}
td.action {
  width: 120px;
  text-align: center;
}
.btn {
  margin: 0px 5px;
  font: 14px Georgia, serif;
}
.repoinfo {
  font: 14px Georgia, serif;
  line-height: 20px;
  width: 1000px;
  padding: 10px;
  color: #333;
  background-color: #eee;
}
.round {
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
